.resume {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 800px;
    background-color: #f9f9f9;
    margin: 20px auto;
  }
  
  .resume-section {
    margin-bottom: 20px;
  }
  
  .resume-section-title {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  .resume-item {
    margin-bottom: 15px;
  }
  
  .resume-item h3 {
    margin-bottom: 5px;
  }
  
  .resume-item .info {
    color: #777;
  }
  
  .resume-item p {
    margin-bottom: 10px;
  }
  
  .resume-item .date {
    font-style: italic;
  }
  
  .skills-description {
    margin-bottom: 15px;
  }
  
  .skills-list {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-list li {
    margin-bottom: 10px;
  }
  
  .bar-expand {
    display: block;
    height: 8px;
    background-color: #333;
  }
  
  .bar-expand span {
    display: block;
    height: 100%;
    width: 0;
    background-color: #007bff;
  }
  
  .skills-list li em {
    font-style: normal;
  }
  